@import '~antd/dist/antd.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.editor-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  flex: 1;
  display: flex;
}

.item-panel {
  background: #ececec;
  min-width: 200px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.item-panel > img {
  margin-top: 20px;
}

#flow {
  flex: 1;
  height: 100%;
}

